*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

nav {
  padding: 0.5rem 1rem;
}

.delete-btn {
  background-color: red;
}

.app-container {
  display: grid;
  grid-template-columns: 300px 1fr;
}

main {
  padding: 0.5rem 1rem;
}

#project-list-container {
  display: flex;
  flex-direction: column;
}

.project-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  cursor: pointer;
}

.more-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: gray;
}

.more-icon:hover {
  fill: black;
}

.project-dropdown {
  position: absolute;
  left: 280px;
  width: 6rem;
  background-color: white;
  padding: 0.5rem 1rem;
  box-shadow: 0px 0 0.4rem 0.1rem grey;
  border-radius: 0.2rem;
}

.todo-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  cursor: pointer;
}

.todo-item-details {
  width: 100%;
}

.hide {
  display: none;
}